.course-content ul.qmulweeks {margin:0;}
.course-content ul.qmulweeks li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.qmulweeks li.section .content {margin:0 40px;}
.course-content ul.qmulweeks li.section .left,
.course-content ul.qmulweeks li.section .right {width:40px;padding: 0 6px;}
.course-content ul.qmulweeks li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.qmulweeks li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content ul.qmulweeks li.section .left,
.jsenabled .course-content ul.qmulweeks li.section .right {width:auto;}
.course-content ul.qmulweeks li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content ul.qmulweeks li.section .section_action_menu .textmenu,
.course-content ul.qmulweeks li.section .section_action_menu .menu-action-text { white-space: nowrap; }